body {
  margin: 0;
  padding: 0;
  text-align: center;
}

#main_container {
  margin: auto;
  /*width: 1200px; */
  height: 1024px;
  background-size: cover;
  background-image: url(/images/sharp_bird.jpg);
}

#title-panel {
  width: inherit;
  padding: 20px;
}

h1 {
  font-family: 'Nunito', sans-serif;
  color: white;
  font-size: 48pt;
}

h2 {
  font-family: 'Nunito', sans-serif;
  color: white;
  font-weight: lighter;
  font-size: 32pt;
}

h3, h4, h5, p, th {
  font-family: sans-serif;
  color: white;

}
